#footer {
    background: #f2f2f2;
    text-align: center;
    font-size: 14px;
    padding: 20px 0 30px;
    margin-top: 30px;
    color: #AAA
}

#footer .col-right {
    float: right;
    width: 300px;
    text-align: right;
    padding-top: 10px
}

#footer .colset-3-footer {
    color: #222;
    font-size: 14px
}

#footer .colset-3-footer:before, #footer .colset-3-footer:after {
    content: " ";
    display: table
}

#footer .colset-3-footer:after {
    clear: both
}

#footer .colset-3-footer .col-1, #footer .colset-3-footer .col-2, #footer .colset-3-footer .col-3 {
    width: 18%;
    padding: 20px 0 30px;
    padding-right: 3%;
    float: left;
    text-align: left
}

#footer .colset-3-footer .col-3 {
    width: 24%;
}

#footer .colset-3-footer .col-1 h1, #footer .colset-3-footer .col-2 h1, #footer .colset-3-footer .col-3 h1 {
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    margin: 0
}

#footer .colset-3-footer .col-1 ul, #footer .colset-3-footer .col-2 ul, #footer .colset-3-footer .col-3 ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

#footer .colset-3-footer .col-1 ul li, #footer .colset-3-footer .col-2 ul li, #footer .colset-3-footer .col-3 ul li {
    margin: 0;
    padding: 0
}

#footer .colset-3-footer .col-1 ul li a, #footer .colset-3-footer .col-2 ul li a, #footer .colset-3-footer .col-3 ul li a {
    color: #343437;
    text-decoration: none
}

#footer .colset-3-footer .col-1 ul li a:hover, #footer .colset-3-footer .col-2 ul li a:hover, #footer .colset-3-footer .col-3 ul li a:hover {
    text-decoration: underline
}

#footer .second a {
    color: #db4800
}